<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheets" href="/views/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  
</head>

<body>
  <div class="topnav">
    
  </div>

  <h1 class="header">Energy Website</h1>
  <p>This is energy's raw website!</p>

</body>
</html>
